{% extends 'livestreamcurator/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'livestream/styles.css' %}" />
{% endblock head %}

{% block title %}{{ pageUser.get_username }}{% endblock title %}

{% block content %}
<h3><a href="{% url 'livestream:profile' pageUser.get_username %}">{{ pageUser.get_username }}</a><h3>
<h2><a href="{% url 'livestream:group_show' pageUser.get_username group.name %}">{{ group.name }}</a><h2>
{% include "livestream/livestreamPlayer.html" with livestreams=group.livestreams.all platform="twitch" members=True %}
{% if ownPage is True %}
<div class='livestream'>
<a href="{% url 'livestream:add' user.get_username %}">Add</a>
</div>
{% endif %}
{% endblock content %}