{% extends 'livestreamcurator/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'livestream/styles.css' %}" />
{% endblock head %}

{% block title %}{{ pageUser.get_username }}{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between">
    <div class="left">
        <a href="{% url 'livestream:profile' pageUser.get_username%}">{{ pageUser.get_username }}'s livestream collection</a>
    </div>
    {% if ownPage is True %}
        <div class="right">
            <a class="" href="{% url 'livestream:group_create' user.get_username%}">Create group</a>
            <a href="{% url 'livestream:group_edit' user.get_username group.name %}">Edit</a>
        </div>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    {{ group.name }}
</div>
<div class="d-flex justify-content-around flex-wrap">
    {% include "livestream/livestreamPlayer.html" with livestreams=group.livestreams.all platform="twitch" members=True %}
</div>
{% endblock content %}