{% comment %}
parameters: livestreams platform thumbnail ownPage members
if you pass thumbnail, you don't need ownPage
{% endcomment %}

{% if livestreams %}
    {% for livestream in livestreams %}
        <div class="livestream">
            {% if not thumbnail %}
            <div class="livestream_name d-flex 
            {% if ownPage is True %}
            justify-content-between">
            <div class="placeholder">
            </div>
            <a href="{% url 'livestream:edit' user.get_username livestream.name%}" >
            {% else %}
            justify-content-center">
            {% endif %}
            {{ livestream.name }}
            {% if ownPage is True %}
            </a>
            <form action="{% if group %}{% url 'livestream:group_delete_member' user.get_username group.name %}{% else %}{% url 'livestream:delete' user.get_username %}{% endif %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ livestream.id }}">
                    <button type="submit" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </form>
            {% endif %}
            </div>
            {% endif %}
            {% if platform == "twitch" %}
                <iframe
                    src="http://player.twitch.tv/?channel={{ livestream.twitchUsername }}&muted=true"
                    height="300"
                    width="400"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}