{% comment %}
parameters: groups pageUser user ownPage
{% endcomment %}

{% if groups %}
    {% for group in groups %}
    <div class="livestreamGroup">
        <div class="livestreamGroup_name d-flex
            {% if ownPage is True %}
            justify-content-between">
            <div class="placeholder">
            </div>
            {% else %}
            justify-content-center">
            {% endif %}
            <a href="{% url 'livestream:group_show' pageUser.get_username group.name %}">
            {{ group.name }}
            </a>
            {% if ownPage is True %}
                <form action="{% url 'livestream:group_delete' user.get_username %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ group.id }}">
                    <button type="submit" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            {% endif %}
        </div>
        {% include "livestream/livestreamPlayer.html" with livestreams=group.livestreams.all thumbnail=True platform="twitch" %}
    </div>
    {% endfor %}
{% endif %}